.top-logo {
    padding-right: 26%;
    letter-spacing: -3px;
    font-size: 46px;
    color: #414042;
    font-family: asap, sans-serif;
    font-weight: 400;
}
#home {
    color:#23C6EA;
}
.top-header {
    background-image: url(../images/nền.jpg);
    background-size: cover;
    font-size: 30px; 
    text-align: center;
    font-family: open-sans-condensed, sans-serif;
    font-weight: 700;
    position: relative;
}
#template1 #template2 { 
    color: #FFFFFF;
    font-weight: 700;
}
#mute{
    color: #00BDE7;
}
.top-logo {
    font-size: 3.0rem;
    padding-left: 19%;
}
/*Header*/
.top-header {
    padding: 30px 10px 10px;
    color: #fff;
    font-size:30px;
    text-align: center;   
}
.minimal {
    font-size: 1.5rem;
}
.ecommerce {
    font-size: 0.8rem;
    color: #B8B8B8;
}
/*Banner*/
.banner .row {
    background: url(../images/bg-on.jpg)
}
.row {
    margin-left: -15px;
    margin-right: 0px;
}
.img-fluid {
    margin: 30px 20px;
}
.iphone{
    padding-left: 41%;
    padding-top: 100px;
}
.ip-5c{
    padding: 10px 0;
    background: white;
    text-align: center;
    color: #414041;
    font-size: 50px;
    margin-right:33%;
    margin-top: 90px; 
}
.ft-color{
    background: #FE5698;
    color: white;
    text-align: center;
    margin-right: 62%;
    font-size: 26px;
    margin-top: -16px;
    padding: 10px 0;
}
/*Container*/
.lorem {
    color: #959191;
    margin-left: 59px;
}
.fc {
    color: #959191;
}
.phone-name {
    font-family: asap, sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #333333;
}
.price {
    font-size: 16px;
    color: #74B54A;
    text-align: center;
    font-family: asap, sans-serif;
    font-weight: 700;
}
.container-1 .row{
    padding-left: 386px;
    padding-right: 359px;
    margin-top: 60px;
}
#logo1 {
    margin-left: -15px;
    padding-right: 10px;
    float: left;
}
#logo2 {
    margin-left: -15px;
    padding-right: 10px;
    float: left;
 }
#logo3 {
    margin-left: -15px;
    padding-right: 10px;
    float: left;
}
.container-2 .row{
    padding-left: 375px;
    padding-right: 290px;
    margin-top: 60px;
}
.container-3 .row {
    padding-left: 360px;
    padding-right: 330px;
    margin-top: 60px;
}
.row-down {
    margin-right: 20px;
    padding-right: 20px;
}
.container-2 .dashed {
    margin: 10px 0;
    width: 68px;
    margin: 10px 68px;
    border-bottom: 2px grey dashed;
}
.container-2 .phone-name {
    padding-right: 78px;
}
.container-2 .price {
    padding-right: 69px;
}
.container-3 .dashed {
    margin: 10px 0;
    width: 66px;
    margin: 10px 100px;
    border-bottom: 2px grey dashed;
}
.brands {
    z-index: 330;
    background-color: #F5F5F5;
    padding: 25px 0;
    padding-left: 20%;
}
#flo {padding-right: 45px;}
#sto {padding: 0px 47px;}
#dri {padding: 0px 47px;}
#unb {padding: 0px 47px;}
#pre {padding-left: 53px;}
/*Need*/
.Need {
    margin-left: 41%;
    font-size: 32px;
    color: #757272;
    text-align: left;
    font-family: asap, sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}
.need-content {
    margin-left: 41%;
    line-height: 1.3;
    color: #666666;
    text-align: left;
    font-family: asap, sans-serif;
    font-weight: 400;
}
.number {
    padding-left: 15%;
    font-size: 60px;
    color: #757272;
    text-align: right;
  
    font-weight: 700;
    position: relative;
    float: left;
}
.Need .need-content .number {
    padding: 30px 0;
    box-sizing: border-box;
}
/*input*/
.input { 
    margin-right: -15%;
    margin-left: -15px;
    z-index: 330;
    box-sizing: border-box;
    background-color: #F5F5F5;
    padding: 2% 42%;
}
#submit { 
    background-color: #00BDE7;
    color: #fff;
    border-radius: 10%;
    padding-right: 170px;

}
#email { padding-right: 50px;}
#uesname { padding-right: 50px;}
#message { padding: 50px 26px 0;}

.contact {
    margin-left: -410px;
}
.eve{
    padding-left: 20px;
    padding-top: 15px;
}
.img-Eve {margin-left: -275px;}
.img-page {
    margin-top: 2px;
}
.read {
    margin-right: -142px;
    margin-top: 15px;
    box-sizing: border-box;
    color:  black;
    background-color: white;
    border: 1px solid black;
}
/*infor*/
.infor {
    background-color: #3C3C3C;
    color: white;
    box-sizing: border-box;
    padding: 0 20%;
    padding-top: 20px;
}
.tech {
    padding-top: 100px;
    font-size: 46px;
    color: #FFFFFF;
    font-family: asap, sans-serif;
    margin-bottom: 0px;
}
.more {
    font-size: 15px;
    background-color: transparent;
    line-height: 1.3;
    color: #DFDFDF;
    text-align: left;
    font-family: asap, sans-serif;
}
.our {
    background-color: transparent;
    line-height: 1.3;
    font-size: 15px;
    color: #DFDFDF;
    text-align: left;
    font-family: asap, sans-serif;
}
.lorem-news {
    background-color: transparent;
    line-height: 1.1;
    font-size: 15px;
    color: #DFDFDF;
    text-align: left;
    font-family: asap, sans-serif;
}
/*footer*/
.footer {
    box-sizing: border-box;
    background-color: #5D5D5A;
    padding-left: 69%;
   
    margin-left: -68%;
    margin-right: -69%;
}
.copy {
    padding-top:15px;
    color: #A6A6A5;
    margin-left: -15px;
}
.logo-mini {
    padding-top: 15px;
    float: left;
    padding-left: 0;
}
